# Claude Code
.claude/*
CLAUDE.md

# NX
.nx/cache
.nx/workspace-data

# Node
node_modules/
**/node_modules/
package-lock.json

# Build outputs
dist/
out-tsc/
storybook-static/

# Angular
.angular/

# Coverage
coverage/

# Environment
.env
.env.local

#Mobile
ios/
android/

/apps/buddy-frontend/src/environments/environment.prod.ts
/apps/buddy-frontend/src/environments/environment.ts